@font-face {
    font-family: "regular";
    src: url("fonts/ari-w9500.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "bold";
    src: url("fonts/ari-w9500-bold.ttf");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: "regular", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a24;
}

.title {
    text-align: center;
    margin-top: 50px;
    color: #ffc800;
    font-family: 'bold', sans-serif;
}

.navbar {
    color: white;
    overflow: hidden;
    text-align: center;
    max-width: 800px;
    word-wrap: normal;
    word-spacing: 10px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}